@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  /* Background color */
background-color: #0c0c0c; /* Equivalent to bg-neutral-950 in Tailwind CSS */

/* Background gradient */
background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));

}